/* navigation */
#topnav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 70px;
    background-color: var(--COC-Blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    #nav-logo {
        justify-content: right;
    }
}

@media only screen and (min-width: 481px) {
    #topnav {
        padding: 0 1rem;
    }
}

@media only screen and (min-width: 769px) {
    #topnav {
        padding: 0 4rem;
    }
}

@media only screen and (min-width: 1025px) {
    #topnav {
        padding: 0 8rem;
    }
}

@media only screen and (min-width: 1201px) {
    #topnav {
        padding: 0 12rem;
    }
}

#topnav > img {
    height: 54px;
    margin-right: auto;
    padding-left: 1rem;
}

#topnav > a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: 0.25s;
}

#topnav > a:hover {
    color: var(--COC-Blue);
    background-color: white;
}

#topnav a:last-child {
    margin-right: 1rem;
}

@media (max-width: 769px) {
    #nav-logo {
        display: none;
    }
}

/* FOOTER */
footer {
    background-image: linear-gradient(to top, var(--COC-Blue) 0%, rgba(1, 27, 64, 0) 200%), url("https://media.istockphoto.com/id/818087910/photo/multi-ethnic-group-of-students-studying-outdoors.jpg?s=612x612&w=0&k=20&c=cXO32DQmlBLvTsbqGaJDkaA90hfM-tVlejSDrKmTulY=");
    background-repeat: no-repeat;
    background-size: cover; /* image covers entire footer */
    color: white;
    padding: 4rem 1rem;
}

footer > h1 {
    text-align: center;
}

#footer-form {
    display: flex; /* default for mobile design */
    flex-direction: column;
    gap: 0.5rem;
}

input {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-family: 'Kievit', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
    width: 100%;
}

input[value="Send Message"] {
    width: 100%;
}

textarea {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-family: 'Kievit', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';

    resize: vertical;
    width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 100px;
    max-height: 200px;
}

#footer-details > * > h3 {
    margin-top: .5rem;
    text-decoration: underline;
}

/* footer grid query 1 (smaller than tablet) */
@media only screen and (min-width: 480px) and (max-width: 769px) {
    footer {
        padding: 4rem 2rem;
    }

    input[value="Send Message"] {
        margin: auto;
        width: 50%;
    }

    #footer-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
    }

    #footer-address {
        grid-column: 1 / -1;
    }

    #footer-contact {
        text-align: right;
    }
}

/* footer grid query 2 (bigger than tablet) */
@media only screen and (min-width: 769px) {
    footer {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, min-content);
        gap: 1rem;
    }

    footer > h1 {
        grid-column: 1 / -1;
    }
    
    #footer-form {
        padding: 0 1rem;

        grid-column: 1 / -2;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, min-content);
        gap: 0.5rem;
    }

    input[value="Send Message"] {
        margin-top: 0;
        width: 100%;
        grid-column: 3 / -1;
    }

    #name-div {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    #email-div {
        grid-column: 3 / -1;
        grid-row: 1 / 2;
    }
    
    #subject-div {
        grid-column: 1 / -1;
    }
    
    #message-div {
        grid-column: 1 / -1;
    }
    
    #footer-details {
        text-align: right;
        grid-column: 3 / -1;
    }
}

@media only screen and (min-width: 992px) {
    #footer-form {
        padding-right: 2rem;
    }

    input[value="Send Message"] {
        margin-top: 0;
        grid-column: 4 / -1;
    }
}


@media only screen and (min-width: 1200px) {
    #footer-form {
        padding-right: 4rem;
    }
}