/* styles.css will contain styles for SPECIFIC pages */
/* The organization conventions are as follows:

- DO try to make ID and class names as short as possible.

- DO design for mobile first if you can.

- DO write unique, specific IDs for each element you are styling. 
    - This will prevent more generalized selectors from interfering with new selectors.
    - BAD SELECTOR: h1
        - Uses an element selector that ISN'T SPECIFIC to one container.
        - This may interfere with other h1 elements on the website.
    - GOOD SELECTOR: #section-heading, .section-heading, .section-heading > h1
        - Uses an id or class selector
        - Uses an element selector SPECIFIC to one container.
        - This is specific to one section of the website.

- DO separate your selectors using comments.
    - To selectors for specific html pages, type this by the first selector: 
        ||| <insert-page-name>.html |||
    - To declare a section of a page, type this by the appropriate selectors:
        || PAGE SECTION

- DO place media queries in an order that makes sense. For example, for media queries going from small to large viewports, you write:
    - your default selectors
    - media query for phone viewport
    - media query for tablet viewport
    - media query for small laptop viewport
    - media query for large laptop viewport

- DO try to place media queries next to the selector you are modifying.

- DO NOT write directly into this file. Instead:
    - Create a new test file.
    - Once you are done with your changes, include them in your pull request
    - Someone else will attempt to merge the main styles.css file and your test file.

*/

/* ||| root and all elements ||| */
:root {
    --COC-Blue: rgba(1, 27, 64, 1);
    --COC-Yellow: rgba(255, 226, 18, 1);
    --COC-Gray: rgba(217, 217, 217, 1);
    --MESA-Red: #FF6257;
}  

/* ||| index-lab.html ||| */
/* || HEADLINE */
#headline-container {
    padding: 4rem 1rem;
    text-align: justify;
    background-image: linear-gradient(to bottom, var(--COC-Blue) 0%, rgba(1, 27, 64, 0) 200%), url("https://media.istockphoto.com/id/818087910/photo/multi-ethnic-group-of-students-studying-outdoors.jpg?s=612x612&w=0&k=20&c=cXO32DQmlBLvTsbqGaJDkaA90hfM-tVlejSDrKmTulY=");
    background-size: cover;
    color: white;
}

#headline-container > h1 {
    text-align: center;
    font-size: 1.3rem;
}

#headline-container > p {
    line-height: 1.4
}

@media only screen and (min-width: 480px) {
    #headline-container {
        padding: 4rem 2rem;
    }

    #headline-container > h1 {
        font-size: 1.5rem;
    }

    #headline-container > p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 769px) {
    #headline-container {
        padding: 4rem;
    }
    #headline-container > h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 992px) {
    #headline-container {
        padding: 8rem;
    }

    #headline-container > h1 {
        font-size: 2.2rem;
    }

    #headline-container > p {
        line-height: 1.3;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    #headline-container {
        padding: 8rem 12rem;
    }

    #headline-container > h1 {
        font-size: 2.8rem;
    }

    #headline-container > p {
        line-height: 1.2;
    }
}

.headline-text {
    padding: 2rem 0;
}

#headline-container > button {
    display: grid;
    margin: auto;
    width: 75%;
}

/* ABOUT */
#about-container {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media only screen and (min-width: 481px) {
    #about-container {
        padding: 4rem 2rem;
    }
}

@media only screen and (min-width: 769px) {
    #about-container {
        flex-wrap: nowrap;
        padding: 4rem;
    }
}

@media only screen and (min-width: 1025px) {
    #about-container {
        padding: 8rem;
    }
}


@media only screen and (min-width: 1201px) {
    #about-container {
        padding: 8rem 12rem;
    }
}

#about-container > img {
    order: 1;
    width: 100%;
}

#about-container > img.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(2rem);
    transition: all 0.5s ease-out;
    transition-delay: 500ms;
}

#about-container > img.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (min-width: 769px) {
    #about-container > img {
        order: 2;
        width: 50%;
    }
}

#about-content {
    order: 2;
    width: 100%;
}

#about-content.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-2rem);
    transition: all 0.5s ease-out;
}

#about-content.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media only screen and (min-width: 769px) {
    #about-content {
        order: 1;
        width: 50%;
    }
}


#about-content > h1 {
    text-align: left;
}

#about-content > p {
    margin-bottom: 1rem;
}

/* || RESULTS */
#results-container {
    padding: 4rem 1rem;
    background-color: var(--MESA-Red);
}

@media only screen and (min-width: 480px) {
    #results-container {
        padding: 4rem 2rem;
    }
}
@media only screen and (min-width: 769px) {
    #results-container {
        padding: 4rem 4rem;
    }
}

@media only screen and (min-width: 992px) {
    #results-container {
        padding: 4rem 8rem;
    }
}

@media only screen and (min-width: 1200px) {
    #results-container {
        padding: 4rem 12rem;
    }
}

#results-container > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#results-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.stat-square {
    background-color: white;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);

    width: 100%;
    padding: 2rem 1rem;
    border-radius: 10px;
    
    transition: 0.25s ease-out;
}

.stat-square.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-3rem);
}

.stat-square.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.stat-square:nth-child(1) { transition: all 300ms ease-out }
.stat-square:nth-child(2) { transition: all 600ms ease-out; }
.stat-square:nth-child(3) { transition: all 900ms ease-out; }

.stat-square:hover {
    transform: translateX(-3px) translateY(-3px);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/* || SERVICES */
#services-container {
    padding: 4rem 1rem;
}

#services-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#services-description > h1 {
    font-size: 1.8rem;
}

@media only screen and (min-width: 769px) {
    #services-description {
        padding: 0 4rem;
        font-size: 1.2rem;
    }

    #services-description > h1 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    #services-description {
        padding: 0 6rem;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    #services-container {
        padding: 4rem;
    }
    
    #services-description {
        padding: 0 8rem;
        font-size: 1.3rem;
    }
}

#service-square-container {
    display: grid;
    margin: auto;
    justify-content: center;
    gap: .5rem;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 300px);
}

.service-square {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    
    font-size: 0.8em;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 300px;
}

.service-square.hidden {
    opacity: 0;
    transform: rotateY(90deg);
    transition: all 1s ease-out;
}

.service-square.show {
    opacity: 1;
    transform: rotateY(0);
}

.service-square.primary {
    cursor: pointer; /* show that the button can be clicked */
    color: black;
    background-color: var(--COC-Yellow);
}

.service-square.secondary {
    color: black;
    background-color: var(--COC-Gray);
}

.service-square.primary:hover {
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
}

/* service grid 1 */
@media only screen and (min-width: 480px) {
    #service-square-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
    .service-square {
        height: 250px;
    }
}

@media only screen and (min-width: 769px) {
    #service-square-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
    .service-square {
        height: 300px;
    }
}

@media only screen and (min-width: 992px) {
    #service-square-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
    }

    .service-square {
        height: 400px;
    }
}

.service-square > h3 {
    line-height: 20px;
    width: max-content; /* prevent multiline overflow for text */
}

.service-icon {
    /* placeholder icon */
    background-color: gray;
    color: white;
    width: 100%;
    flex-grow: 1;
}

/* || SKILLS LAB */
#lab-overview-container {
    padding: 0 1rem 4rem;
}

@media only screen and (min-width: 480px) {
    #lab-overview-container {
        padding: 0 2rem 4rem;
    }   
}

@media only screen and (min-width: 769px) {
    #lab-overview-container {
        padding: 0 4rem 4rem;
    }   
}

@media only screen and (min-width: 1200px) {
    #lab-overview-container {
        padding: 0 8rem 4rem;
    }   
}

#lab-overview-container > button {
    margin-top: 1rem;
}

#lab-overview-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
    margin: 1rem 0;
}

.lab-overview-btn {   
    font-size: 1rem;
    background-color: var(--COC-Blue);

    text-align: center;
    color: white;

    width: 25%;
    padding: 1rem 2rem;
    border-radius: 10px;

    cursor: pointer; /* show icon interactivity */

    transition: 0.25s;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    overflow:scroll;
}

.lab-overview-btn:hover, .lab-overview-btn.active {
    background-color: #002860;
    transform: translateY(3px);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/* prevent single row of buttons on smaller viewports*/
@media only screen and (max-width: 480px) {
    #lab-overview-row {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .lab-overview-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 769px) {
    #lab-overview-row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lab-overview-btn {
        width: 40%;
    }
}

.lab-overview-tab {
    background-color: var(--COC-Gray);
    margin-bottom: .5rem;
    border: 1px var(--COC-Blue) solid;
    border-radius: 10px;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
}
    
/* display first tab by default */
/* this selector selects tabs that are not the first child of a parent element (div) */
.lab-overview-tab:not(:first-child) {
    display: none;
}

.lab-overview-tab > div {
    width: 100%; /* stretch full width of tab div */
}

.lab-overview-tab > div > h3 {
    text-align: center;
}

.lab-overview-tab > div > button {
    width: max-content;
}

/* select text content div */
.lab-overview-tab > div:first-child {
    padding: 2rem 1rem;
}

.lab-overview-img {
    background-color: gray;

    width: 100%;
    height: 400px;

    object-fit: cover;
    border-radius: 10px;

    order: 2;
}

@media only screen and (min-width: 992px) {
    .lab-overview-tab {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
    }
    
    /* selects text content in tab */
    .lab-overview-tab > div {
        width: 50%;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lab-overview-tab > div > h3 {
        text-align: left;
    }

    .lab-overview-img {
        height: 500px;
    }
}

/* ||| skills-lab.html ||| */
/* || squares */

#skills-lab-container {
    padding: 2rem 1rem;
    margin-top: 70px;

    display: grid;
    justify-content: center;
    gap: 0.5rem;
}

.skills-lab-square {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid black;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

#biology-square {
    background-color: lightgreen;
}

#engineering-square {
    background-color: lightgoldenrodyellow;
}

#physics-square {
    background-color: lightblue;
}

#coding-square {
    background-color: #555;
    color: white;
}

/* ||| about.html ||| */
/* || MISSION STATEMENT */
#mission-container {
    padding: 4rem 1rem;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, var(--COC-Blue) 0%, rgba(1, 27, 64, 0) 200%), url("https://b620782.smushcdn.com/620782/wp-content/uploads/2021/03/web-klassen-corp-036-850x458-1.jpg?lossy=1&strip=1&webp=1");
    background-size: cover;
    color:  rgba(228, 228, 228, 1);
}


#mission-heading {
    color: rgb(255, 140, 132);
}

.logo {
    width:120px;
    cursor: pointer;
    margin-bottom: 2px;
}

/* || SLIDES */
.slide-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
}
 
.biography {
    position: relative;
 
    margin: auto;
    background-color: #ffffff;
    overflow: hidden;
}
      
.biography .biography-inner {
    position: relative;
    width: 400%;
    display: flex;
    transition: transform 0.6s cubic-bezier(0.858, 0.01, 0.068, 0.99);
}
      
.biography-inner .biography-item {
    width: 25%;
}
      
.biography-caption {
    padding: 50px 120px 80px;
    text-align: center;
}

.biography-caption img {
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
      
.biography-caption h2 {
    color:  rgb(255, 140, 132);
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
      
.biography-caption h2 .job-title {
    font-size: 22px;
    font-weight: 500;
}
      
.biography-caption p {
    color: rgba(1, 27, 64, 1);
    font-size: 17px;
    font-weight: 500;
}
      
.biography input {
    display: none;
}
      
.biography .indicators {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
      
.biography .indicators label {
    position: relative;
    width: 25%;
    height: 2rem;
    margin: 0 3px;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.25s;
}

.biography .indicators label:hover {
    background-color: #c0c0c0;
}
      
#indicator1:checked ~ .indicators label:nth-child(1),
#indicator2:checked ~ .indicators label:nth-child(2),
#indicator3:checked ~ .indicators label:nth-child(3),
#indicator4:checked ~ .indicators label:nth-child(4){
    background-color: rgb(255, 140, 132);
}
      
#indicator1:checked ~ .biography-inner {
    transform: translateX(0%);
}
      
#indicator2:checked ~ .biography-inner {
    transform: translateX(-25%);
}
      
#indicator3:checked ~ .biography-inner {
    transform: translateX(-50%);
}
      
#indicator4:checked ~ .biography-inner {
    transform: translateX(-75%);
}

@media (max-width: 768px) {
    .biography-caption {
        padding: 50px 70px 80px;
    }
}
   
@media (max-width: 576px) {
    .biography-caption {
        padding: 50px 15px 80px;
    }
        
    .biography-caption h2 {
        font-size: 20px;
    }
        
    .biography-caption h2 .job-title {
        font-size: 17px;
    }
        
    .biography-caption p {
        font-size: 16px;
    }
}


/* ||| help.html ||| */
#help-heading {
    text-align: center;
    padding: 4rem 1rem 0;
    color: var(--MESA-Red);
    font-size: 1.8rem;
}

#help-container {
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.help-square {
    background-color: var(--COC-Yellow);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 250px;
}

@media only screen and (min-width: 480px) {
    #help-heading {
        font-size: 2rem;
    }
    #help-container {
        padding: 4rem 4rem;
    }
}

@media only screen and (min-width: 600px) {
    #help-container {
        padding: 4rem 1rem;
        margin-bottom: 2rem;
        flex-direction: row;
    }

    .help-square {
        width: 33%;
        height: 300px;
    }
}

/* ||| faq.html ||| */
/* || GENERAL TEXT */
#faq-container{
    padding: 1rem 4rem;
    margin-top: 0px;
}
#faq-title{
    text-align: center;
    color: var(--MESA-Red);
    padding: 4rem 0 2rem;
}
.faq-heading{
    padding-bottom: 10px;
    color: var(--COC-Blue);
}
.faq-section{
    padding-top: 30px;
}
.faq-question{
    padding-bottom: 7px;
}
/* || REQUIREMENTS */
#faq-require-container{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}
.faq-require-section{
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    flex-direction: column;
}
/* || MAP */
#faq-map-img{
    padding-left: 18px;
    padding-bottom: 18px;
    height: 150px;
    width: 250px;
}
#faq-map-lnk > img:hover{
    opacity: 75%;
}
/* || EMAIL */
#faq-email{
    padding: 2rem 0 4rem;
}


/* ||| resources.html ||| */
#resource-container{
    padding: 1rem 4rem;
    margin-top: 0px;
}
#resource-title{
    text-align: center;
    color: var(--MESA-Red);
    padding: 4rem 0 2rem;
}
.resource-heading{
    padding-bottom: 10px;
    color: var(--COC-Blue);
}
.resource-section{
    padding-top: 30px;
}
.resource-question{
    padding-bottom: 7px;
}

/* || COLLAPSIBLE (for faq & resources) */
.collapsible{
    background-color: var(--COC-Yellow);
    padding: 20px;
    border: 0px;
    border-radius:8px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
}
.collapsible:hover{
    background-color:rgba(255, 226, 18, 0.75);
}
.collapsible:after{
    content: '\002B';
    font-size: 40px;
    font-weight: bold;
    color: black;
    float: right;
}
.active:after{
    content: '\2212';
}
.content{
    background-color: var(--COC-Gray);
    border-radius: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.content p, ul{
    padding: 18px;
}
.button-text{
    color: black;
}

@media (min-width: 769px){
    .collapsible{
        width: 75%;
    }
    .content{
        width: 75%;
    }
}
@media (min-width: 992px){
    .collapsible{
        width: 65%;
    }
    .content{
        width: 65%;
    }
}