/* Selects root (the whole HTML doc) */
:root {
    font-family: 'Kievit', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
    font-size: 18px;
    --COC-Blue: #011B40;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topnav {
    background-color: var(--COC-Blue);
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#topnav > img {
    height: 54px;
    margin-right: auto;
    padding-left: 1rem;
}

#topnav > a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    transition: 0.25s;
}

#topnav > a:hover {
    color: var(--COC-Blue);
    background-color: white;
}

