/* styles.css will contain styles for SPECIFIC pages */
/* The organization conventions are as follows:

- DO try to make ID and class names as short as possible.

- DO design for mobile first if you can.

- DO write unique, specific IDs for each element you are styling. 
    - This will prevent more generalized selectors from interfering with new selectors.
    - BAD SELECTOR: h1
        - Uses an element selector that ISN'T SPECIFIC to one container.
        - This may interfere with other h1 elements on the website.
    - GOOD SELECTOR: #section-heading, .section-heading, .section-heading > h1
        - Uses an id or class selector
        - Uses an element selector SPECIFIC to one container.
        - This is specific to one section of the website.

- DO separate your selectors using comments.
    - To selectors for specific html pages, type this by the first selector: 
        ||| <insert-page-name>.html |||
    - || page section to find a section of a page

- DO place media queries in an order that makes sense. For example, for media queries going from small to large viewports, you write:
    - your default selectors
    - media query for phone viewport
    - media query for tablet viewport
    - media query for small laptop viewport
    - media query for large laptop viewport

- DO try to place media queries next to the selector you are modifying.

- DO NOT write directly into this file. Instead:
    - Create a new test file.
    - Once you are done with your changes, include them in your pull request
    - Someone else will attempt to merge the main styles.css file and your test file.

*/

/* ||| root and all elements ||| */
:root {
    --COC-Blue: rgba(1, 27, 64, 1);
    --COC-Yellow: rgba(255, 226, 18, 1);
    --COC-Gray: rgba(236, 236, 236, 1);
    --MESA-Red: #FF6257;
}  

/* ||| index-lab.html ||| */
/* || HEADLINE */
#headline-container {
    padding: 4rem 1rem;
    text-align: justify;
    background-image: linear-gradient(to bottom, var(--COC-Blue) 0%, rgba(1, 27, 64, 0) 200%), url("https://media.istockphoto.com/id/818087910/photo/multi-ethnic-group-of-students-studying-outdoors.jpg?s=612x612&w=0&k=20&c=cXO32DQmlBLvTsbqGaJDkaA90hfM-tVlejSDrKmTulY=");
    background-size: cover;
    color: white;
}

@media only screen and (min-width: 481px) {
    #headline-container {
        padding: 4rem 2rem;
    }

    #headline-container > p {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 769px) {
    #headline-container {
        padding: 4rem;
    }
}

@media only screen and (min-width: 992px) {
    #headline-container {
        padding: 8rem;
    }

    #headline-container > p {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1200px) {
    #headline-container {
        padding: 8rem 12rem;
    }
}

#headline-container > h1 {
    text-align: center;
    font-size: 1.6rem;
}

@media only screen and (min-width: 769px) {
    #headline-container > h1 {
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 1025px) {
    #headline-container > h1 {
        font-size: 3rem;
    }
}

.headline-text {
    padding: 2rem 0;
}

#headline-container > button {
    display: grid;
    margin: auto;
    width: 75%;
}

#headline-container > button:hover {
    transform: scale(1.01, 1.01);
    background-color: white;
}

/* ABOUT */
#about-container {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media only screen and (min-width: 481px) {
    #about-container {
        padding: 4rem 2rem;
    }
}

@media only screen and (min-width: 769px) {
    #about-container {
        flex-wrap: nowrap;
        padding: 4rem;
    }
}

@media only screen and (min-width: 1025px) {
    #about-container {
        padding: 8rem;
    }
}


@media only screen and (min-width: 1201px) {
    #about-container {
        padding: 8rem 12rem;
    }
}

#about-container > img {
    order: 1;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    #about-container > img {
        order: 2;
        width: 50%;
    }
}

#about-content {
    order: 2;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    #about-content {
        order: 1;
        width: 50%;
    }
}


#about-content > h1 {
    text-align: left;
}

#about-content > p {
    margin-bottom: 1rem;
}

#about-content > button:hover {
    transform: scale(1.01, 1.01);
    background-color: white;
}

/* || RESULTS */
#results-container {
    padding: 4rem 1rem;
    background-color: var(--MESA-Red);
}

@media only screen and (min-width: 480px) {
    #results-container {
        padding: 4rem 2rem;
    }
}
@media only screen and (min-width: 769px) {
    #results-container {
        padding: 4rem 4rem;
    }
}

@media only screen and (min-width: 992px) {
    #results-container {
        padding: 4rem 8rem;
    }
}

@media only screen and (min-width: 1200px) {
    #results-container {
        padding: 4rem 12rem;
    }
}

#results-container > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#results-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.stat-square {
    background-color: white;
    padding: 2rem 1rem;
    width: 100%;
}

/* || SERVICES */
#services-container {
    padding: 2rem 1rem;
}

#services-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 480px) {
    #services-container {
        padding: 2rem;
    }
}

@media only screen and (min-width: 769px) {
    #services-container {
        padding: 2rem 4rem;
    }

    #services-description {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 992px) {
    #services-container {
        padding: 2rem;
    }

    #services-description {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    #services-container {
        padding: 2rem 4rem;
    }

    #services-description {
        font-size: 1.4rem;
    }
}

#service-square-container {
    display: grid;
    margin: auto;
    justify-content: center;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.service-square {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    
    font-size: 0.8em;
    text-align: center;
    color: black;
    background-color: var(--COC-Yellow);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);

    width: 100%;
    height: 150px;

    transition: 0.25s;
}

.service-square:hover {
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 480px) {
    #service-square-container {
        grid-template-columns: repeat(3, 150px);
    }
}

@media only screen and (min-width: 650px) {
    #service-square-container {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(2, 1fr);
    }
    .service-square {
        font-size: 1em;
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 992px) {
    #service-square-container {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(2, 1fr);
    }
    .service-square {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 1200px) {
    #service-square-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 300px;
    }
    .service-square {
        width: 100%;
        height: 200px;
    }
}

.service-square > h3 {
    line-height: 20px;
    width: max-content; /* prevent multiline overflow for text */
}

.service-icon {
    /* placeholder icon */
    background-color: gray;
    color: white;
    flex-grow: 1;
}

/* || SKILLS LAB */
#lab-overview-container {
    padding: 4rem 1rem;
}

@media only screen and (min-width: 480px) {
    #lab-overview-container {
        padding: 4rem 2rem;
    }   
}

@media only screen and (min-width: 769px) {
    #lab-overview-container {
        padding: 4rem 4rem;
    }   
}

@media only screen and (min-width: 1200px) {
    #lab-overview-container {
        padding: 4rem 8rem;
    }   
}

#lab-overview-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
    margin: 1rem 0;
}

.lab-overview-btn {   
    font-size: 1rem;
    text-align: center;
    background-color: var(--COC-Blue);
    color: white;
    transition: 0.25s;

    width: 25%;
    padding: 1rem 2rem;

    cursor: pointer; /* show icon interactivity */

    transition: 0.25s;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.lab-overview-btn:hover {
    transform: translateY(3px);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

/* prevent single row of buttons on smaler viewports*/
@media only screen and (max-width: 769px) {
    #lab-overview-row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .lab-overview-btn {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    #lab-overview-row {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .lab-overview-btn {
        width: 100%;
    }
}

.lab-overview-btn:hover , .lab-overview-btn-active {
    background-color: #002860;
}

.lab-overview-tab {
    background-color: var(--COC-Gray);
    padding: 2rem 1rem;
    margin-bottom: .5rem;
    border: 1px var(--COC-Blue) solid;

    display: none; /* display w/ JS */
}

.closeLabBtn {
    float: right;
    cursor: pointer; /* show icon interactivity */
}

/* ||| skills-lab.html ||| */
/* || squares */

#skills-lab-container {
    padding: 2rem 1rem;
    margin-top: 70px;

    display: grid;
    justify-content: center;
    gap: 0.5rem;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 769px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
    
}

.skills-lab-square {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid black;

    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

#biology-square {
    background-color: lightgreen;
}

#engineering-square {
    background-color: lightgoldenrodyellow;
}

#physics-square {
    background-color: lightblue;
}

#coding-square {
    background-color: #555;
    color: white;
}

/* ||| about.html ||| */
/* || MISSION STATEMENT */
#mission-container {
    padding: 4rem 1rem;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, var(--COC-Blue) 0%, rgba(1, 27, 64, 0) 200%), url("https://b620782.smushcdn.com/620782/wp-content/uploads/2021/03/web-klassen-corp-036-850x458-1.jpg?lossy=1&strip=1&webp=1");
    background-size: cover;
    color: white;
}

#mission-heading {
    color: var(--MESA-Red);
}

/* || BIOGRAPHIES */
.biography-container > h2, .biography-container > h4 {
    text-align: center;
}

.biography-container > img {
    display: block;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    height: 300px;
}
.biography-container{
    padding: 1rem 4rem;
}


/* ||| help.html ||| */

/* ||| faq.html ||| */
