/* nav-and-header.css will contain styles for components in ALL pages */

/* ||| Selects root (the whole HTML doc) ||| */
:root {
    font-family: Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    --COC-Blue: rgba(1, 27, 64, 1);
    --COC-Yellow: rgba(255, 226, 18, 1);
    --COC-Gray: rgba(236, 236, 236, 1);
    --MESA-Red: #FF6257;
}  

* {
    line-height: 1.4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* counteract margin and padding being CSS reset by * selector */
li {
    margin-left: 40px;
}

/* primary buttons */
.primary-btn {
    background-color: var(--COC-Yellow);
    padding: 0.25rem 0.5rem;
    margin: 1rem 0;
    font-weight: 900;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
    transition: 0.15s;
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

/* ||| NAVIGATION BAR ||| */

/* fix bar to top and add background color */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: var(--COC-Blue);
}

/* Prevent overlay with container/item after the topnav */
/* NOTE: topnav must be the first container in the body tag for this to work */
body:nth-child(2) {
    margin-top: 64.4px;
}

/* must style primary links with > selector */
.topnav > a {
    float: left;
    display: block;
    color: white;
    padding: 18px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    transition: 0.25s;
}

/* turn open icon off on larger viewports */
.topnav .icon {
    display: none;
}

/* position dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* style dropdown menu and button */
.dropdown .dropdown-btn {
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 18px;
    background-color: inherit;
    font-family: inherit;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

/* style secondary dropdown link container */
.dropdown-links {
    display: none; /* off by default */
    position: absolute; /* not a part of primary navbar */
    min-width: min-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* style secondary links */
.dropdown-links > a {
    background-color: white;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    float: none;
    padding: 1rem;
    display: block;
    text-align: left;
    transition: 0.25s;
}

.dropdown:hover .dropdown-links {
    display: block;
}

.topnav > a:hover, .dropdown-btn:hover {
    background-color: white;
    color: var(--COC-Blue);
}

.dropdown-links > a:hover {
    background-color: var(--COC-Gray);
}

/* mobile viewport shows menu w/ JavaScript */
@media only screen and (max-width: 600px) {
    .topnav > a:not(:first-child), .topnav .dropdown {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    /* add RESPONSIVE class w/ JavaScript */
    /* NOTE: all elements must be position: fixed to show */
    .topnav.responsive {
        position: fixed;
    }

    .topnav.responsive a.icon {
        /* fix icon to top right corner when menu opens */
        position: fixed;
        top: 0;
        right: 0;
    }

    .topnav.responsive .dropdown, .topnav.responsive .dropdown-btn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-links {
        width: 100%;
        position: fixed;
    }
}

/* FOOTER */
footer {
    background-image: linear-gradient(to top, var(--COC-Blue) 0%, rgba(1, 27, 64, 0) 200%), url("https://media.istockphoto.com/id/818087910/photo/multi-ethnic-group-of-students-studying-outdoors.jpg?s=612x612&w=0&k=20&c=cXO32DQmlBLvTsbqGaJDkaA90hfM-tVlejSDrKmTulY=");
    background-repeat: no-repeat;
    background-size: cover; /* image covers entire footer */
    color: white;
    padding: 4rem 1rem;
}

footer > h1 {
    text-align: center;
}

#footer-form {
    display: grid;
    gap: 0.5rem;
}

footer input {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-family: 'Kievit', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';
    width: 100%;
}

footer textarea {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-family: 'Kievit', 'Helvetica', 'Arial', 'Lucida', 'sans-serif';

    resize: vertical;
    width: 100%;
    max-width: 100%;
    height: 150px;
    min-height: 100px;
    max-height: 200px;
}

#footer-details > * > h3 {
    margin-top: .5rem;
    text-decoration: underline;
}

/* footer grid 1 */
@media only screen and (min-width: 480px) and (max-width: 769px) {
    footer {
        padding: 4rem 2rem;
    }

    #footer-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
    }

    #footer-address {
        grid-column: 1 / -1;
    }

    #footer-contact {
        text-align: right;
    }
}

/* footer grid 2 */
/* prevent footer grid from shrinking too small on smaller viewports */
@media only screen and (min-width: 769px) {
    footer {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
        gap: 1rem;
    }

    footer > h1 {
        grid-column: 1 / -1;
    }
    
    #footer-form {
        grid-column: 1 / -2;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, min-content);
    }
    
    #name-div {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    #email-div {
        grid-column: 3 / -1;
        grid-row: 1 / 2;
    }
    
    #subject-div {
        grid-column: 1 / -1;
    }
    
    #message-div {
        grid-column: 1 / -1;
    }
    
    #footer-details {
        text-align: right;
        grid-column: 3 / -1;
    }
}