#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* React Components */
.TutorList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TutorCard {
  background: linear-gradient(180deg, white, rgb(188, 188, 188));
  color: black;

  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 10px;
}