#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* React Components */
.AddTutorBtn {
  background-color: white;
  color: black;

  padding: 0.5rem 1rem;

  text-align: center;

  transition: 0.15s;
}
.AddTutorBtn:hover {
  background-color: lightgray;
  transform: translate(-1px, -1px);
}

.SearchTutorBar {
  background-color: white;
  color: black;

  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

.TutorsList {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  transition: 0.15s;
}

.TutorCard {
  background-color: rgb(186, 186, 186);
  color: black;

  padding: 1rem 2rem;
  border-radius: 10px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  flex-basis: 25%;

  transition: 0.15s;
}
.TutorCard:hover {
  background-color: lightgray;
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}

.BackToTutorsBtn {
  color: white;

  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 5px;
}

.DeleteTutorBtn {
  margin-top: 1rem;
  background-color:darkred;
}